*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 180px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
#cont-buscador{
    width: 480px;
    height: 40px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}
#btn-submit{
    height: 100%;
    width: 60px;
    background-color: black;
    border: none;
    border-radius: 0px 4px 4px 0px;
}
#buscador{
    width: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buscador_input{
    border: none;
    height: 16px;
    width: 90%;
}
header nav{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
}
.labels-grises{
    padding: 2px 32px;
    background-color: #ccc;
    border-radius: 4px;
}